.btn {
  background-color: #158cba;
  border-radius: 10px;
  color: white;
  height: 50px;
  font-size: 20px;
  text-transform: none;
}

.title {
  font-size: 25px;
  font-weight: bold;
  flex: 1;
  cursor: pointer;
  align-self: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-container {
  gap: 10px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-btn {
  border: none;
  border-radius: 15px;
  font-size: 18px;
  color: white;
  height: 30px;
  width: 80px;
}
